*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
}

nav {
    width: 80%;
    height: 11%;
    background-color: black;
    transform: translateX(12.5%);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100000000;
}

.nav-link img{
    height: 45px;
}

.nav-link{
    padding: 16px;
    display: flex;
    color: white;
    gap: 40px;
}

.nav-link > ul{
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
    color: gray;
}

.nav-tabs{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 30px;
}

.nav-tabs img{
    height: 25px;
    /* width: 30px; */
}

.nav-tabs a:first-child{
    text-decoration: none;
    background-color: grey;
    padding: 6px;
    font-weight: 600;
    color: black;
    border-radius: 10px 10px 10px 0;
}

.nav-tabs a:last-child{
    border-left: 1px solid gray;
    text-decoration: none;
    height: 100%;
    padding-top: 28px;
    padding-left: 25px;
    color: gray;
}

.container{
    background-image: url(./frontpage_hero.bca9ba5a.webp);
    width: 100%;
    height: 90%;
    background-size: 100% 105%;
    background-position: 0px -100px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;

}

.para{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.para h1{
    font-size: 40px;
    text-align: center;
}

.para p{
    font-size: 18px;
}

div button{
    background-color: rgb(50, 116, 240);
    padding: 18px;
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: 600;
}

.div-img{
    display: flex;
    flex-wrap: wrap;
    /* width: 80%; */
    transform: translateX(10.1%);
    gap: 3%; 
    /* overflow: hidden;   */
}

.div-img div{
    width: 591.5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 7%;
}

.div-img  img{
    height: 100%;
    width: 100%;
}

.div-img > div{
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.div-img div > h1{
    color: rgb(245, 93, 93);
    font-size: 16px;
}

.div-img div > p{
    /* font-weight: 600; */
    font-size: 20.5px;
    
}

.img-div{
    transform: translateX(50%);
    margin-bottom: 6%;
}

.img-button{
    padding: 18px;
    text-decoration: none;
    background-color: rgb(50, 116, 240);
    color: #fff;
    border-radius: 15px;
    font-weight: 600;
}

.img-button:hover{
    cursor: pointer;
}

.games-container{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #3d88ce;
}

.img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.img-text > h3{
    font-size: 50px;
}

.img-game{
    /* position: absolute; */
    height: 50%;
    width: 50%;
    /* background-repeat: no-repeat; */
    /* object-fit: cover; */
    
}